<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ydw.oa.auth.business.recruit.mapper.PersRecruitMapper">

	<select id="dictList" resultType="com.ydw.oa.auth.business.recruit.entity.PersRecruit">
		select * from pers_recruit where IS_DELETED=0 and NEED_NUM>GET_NUM
	</select>
</mapper>
